# Copy this file to a new file named ".env" and fill in your real values.
# NEVER share your real .env file or commit it to GitHub.

MONGO_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER_ADDRESS.mongodb.net/codveda?retryWrites=true&w=majority

JWT_SECRET=replace_this_with_any_long_random_text

PORT=5000
